<h1>Editing Book</h1>

<%= form_with model:@book do |b| %>
<label>Title</label>
<%= b.text_field:title %>

<label>Body</label>
<%= b.text_field:body %>

<%= b.submit "Update Book" %>
<% end %>

<%= link_to "show",book_path(@book) %>
<a class ="back" href="/books">Back</a>