<h1>Books</h1>


<table class = "table-title">
  <thead>
    <th>Title</th>
    <th>Body</th>
  </thead>

<% @books.each do |b| %>
  <tr>
  <td><%= b.title %></td>
  <td><%= b.body %></td>

  <td><%= link_to "show", book_path(b.id) %></td>
  <td><%= link_to "Edit", edit_book_path(b.id) %></td>
  <td><%= link_to "Destroy", book_path(b.id), method: :delete %></td>
</tr>

<% end %>
</table>

<h2>New book</h2>

<% if @book.errors.any?%>
<h2>2 errors prohibited this book from being saved:</h2>
 <ul>
   <% @book.errors.full_messages.each do |message| %>
   <li><%= message %></li>
   <% end %>
 </ul>
 <% end %>

<%= form_with model: @book do |b| %>
  <label>title</label>
  <%= b.text_field:title %>

  <br>
  <br>

  <label>body</label>
  <%= b.text_area:body %>


  <%= b.submit '投稿'%>


  <% end %>



